# .gitignore

# ansible
*.retry
/vault-pass
/adfinis-roles/

# python
*.pyc
/.venv/
/.python-version

# documentation
/doc/_build/
/doc/*.yml.rst
/doc/role_overview.rst
/doc/sphinx-template/

# vagrant
/.vagrant/
