[submodule "adsy-roles"]
	path = adsy-roles
	url = git@git.adfinis-sygroup.ch:ad-sy/ansible-roles.src.git
[submodule "doc/adsy-sphinx-template.src"]
	path = doc/adsy-sphinx-template.src
	url = git@git.adfinis-sygroup.ch:ad-sy/adsy-sphinx-template.src.git
[submodule ".testenv/lint-rules"]
	path = .testenv/lint-rules
	url = git@git.adfinis-sygroup.ch:ad-sy/ansible-lint-rules.src.git
